<html>
  <head>
      <title>Backpack</title>
    {% load static %}
   
  </head>

  <body>
  <div>
   <h1>Welcome to Backpack</h1>
    {% if request.user.is_authenticated%}
    <div>
    <span>Logged in as:<span>
    {% if user.profile %}
      <a href="{% url 'profile_info' user.pk %}">{{ user.username }}</a>
    {% else %}
      {{ user.username }}
    {% endif %}
    | <a href="{% url 'logout' %}">Logout</a>
    </div>

    {%else%}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
    {%endif%}

    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>