
{% extends 'TBackpack/layout.html' %}

{% block head %}
  <h1>Reviews</h1>
{% endblock %}

{% block content %}

<pre><b><p> {{object.Text}} </p>
<p> {{object.Date_added}} </p>
<p> Raiting: {{object.Rating}} </p>
<p> Autor: {{object.User_id}} </p></b></pre>
<h2>Comentarii</h2>

{% for c in comments %}
	<div class="bg-info"><p> {{c.Text}}</p>
	<p> {{c.Date_added}} </p>
	<p> Autor: {{c.Author.username}} </p></div>
{% endfor %}

{% if request.user.is_authenticated%}


  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-info" type="submit" value="Save"/></div>
  </form>
{%endif%}

{% endblock %}

